<!DOCTYPE html>
<html lang="en">

<head>
  <title>CDX Scoreboard</title>
  <meta charset="utf-8">
  <!-- Refresh every 60 seconds -->
  <meta http-equiv="refresh" content="60">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
    integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
    crossorigin="anonymous"></script>


  <style>
    body {
      background-color:#17191A;
    }
    .scoreboard-table a, .scoreboard-table a:hover {
      color: #fff;
    }
    .scoreboard-table thead i {
      font-size: 26px;
    }
  </style>
  <script>

    window.onload = function() {
      // Set the date we're counting down to
      var countDownDate = new Date("Dec 8, 2019 00:00:00").getTime();

      var intvl;
      var clock = document.getElementById("clock");

      // Update the count down every 1 second
      var updateClock = function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        clock.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
          if (typeof intvl !== 'undefined') {
            clearInterval(intvl);
          }
          clock.innerHTML = "COMPETITION HAS ENDED";
          clock.classList.replace("text-light", "text-danger");
          setInterval(function() {
            clock.classList.toggle("text-danger");
            clock.classList.toggle("text-light");
          }, 1000);
        }
      };
      intvl = setInterval(updateClock, 1000);
      updateClock();
    };
  </script>

</head>

<body>


  <div class="container">
    <!-- <h2 class="text-light">Cyber Defense Contest Scoreboard</h2> -->
    <img src="title.png" class="img-fluid" alt="Cyber Defense Scoreboard" role="heading" aria-level="1">

    <div class="row float-left mx-1">
      <div class="col p-2">
          <h3 class="text-light" id="clock">?d ?h ?m ?s</h3>
      </div>
    </div>
    <nav class="row float-right mx-1">
      <div class="col p-2">
        <a class="btn btn-info" href="data.log">
          <i class="fas fa-download"></i> Download Log
        </a>
      </div>
      <div class="col p-2">
        <a class="btn btn-danger" href="data.zip">
          <i class="fas fa-download"></i> Old Log
        </a>
      </div>
      <div class="col p-2">
        <a class="btn btn-warning" href="https://drive.google.com/open?id=1hKV6eR0KbWeJgMt3_i4O6wHzh0TuGY-Tb7CDOz4lSoU">
          Rules
        </a>
      </div>
      <div class="col p-2">
        <a class="btn btn-success" href="http://10.8.0.100:3000">
          Juice Shop
        </a>
      </div>
      <div class="col p-2">
        <a class="btn btn-secondary" href="http://10.8.0.100:8000">
          CTFd Scoreboard
        </a>
      </div>
    </nav>

    <table class="table table-striped table-dark scoreboard-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Defense Address</th>
          <th scope="col">Score</th>
          <th scope="col" class="text-center" title="FTP"><i class="fas fa-folder-open"></i></th>
          <th scope="col" class="text-center" title="SSH"><i class="fas fa-terminal"></i></th>
          <th scope="col" class="text-center" title="MySQL"><i class="devicon-mysql-plain"></i></th>
          <th scope="col" class="text-center" title="PostgreSQL"><i class="devicon-postgresql-plain"></i></th>
          <th scope="col" class="text-center" title="HTTP"><i class="fas fa-feather-alt"></i></th>
        <tr>
      </thead>
      {% for item in items %}
      <tr>
        <td>{{item.friendlyname}}</td>
        <td><a href="http://{{item.defense_address}}">{{item.defense_address}}</a></td>
        <td>{{item.score}}</td>
        <td class="text-center">
          {% if item.ftp == 2 %}
            <i title="FTP can connect and write" class="fas fa-check text-success"></i>
          {% elif item.ftp == 1 %}
            <i title="FTP can connect but can't write" class="fas fa-exclamation-triangle text-warning"></i>
          {% else %}
            <i title="FTP offline" class="fas fa-times text-danger"></i>
          {% endif %}
        </td>
        <td class="text-center">
          {% if item.ssh == 2 %}
            <i title="SSH online" class="fas fa-check text-success"></i>
          {% elif item.ssh == 1 %}
            <i title="SSH online but can't connect" class="fas fa-exclamation-triangle text-warning"></i>
          {% else %}
            <i title="SSH offline" class="fas fa-times text-danger"></i>
          {% endif %}
        </td>
        <td class="text-center">{% if item.mysql == 1 %}<i title="MySQL online" class="fas fa-check text-success"></i>{% else %}<i title="MySQL offline" class="fas fa-times text-danger"></i>{% endif %}</td>
        <td class="text-center">{% if item.postgres == 1 %}<i title="PostgreSQL online" class="fas fa-check text-success"></i>{% else %}<i title="PostgreSQL offline" class="fas fa-times text-danger"></i>{% endif %}</td>
        <td class="text-center">{% if item.http == 1 %}<i title="HTTP online" class="fas fa-check text-success"></i>{% else %}<i title="HTTP offline" class="fas fa-times text-danger"></i>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
<!--
    <div class="row justify-content-center mu-2">
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="scoreChart"></canvas>
      </div>
    </div>-->
  </div>

  <script>
    var items = [
      {% for item in items %}
        {
          "friendlyname": {{item.friendlyname|tojson}},
          "defense_address": {{item.defense_address|tojson}},
          "score": {{item.score|tojson}}
        }{% if not loop.last %},{% endif %}
      {% endfor %}
    ];

    var backgroundColorAll = [
      "rgb(255, 99, 132)",
      "rgb(255, 159, 64)",
      "rgb(255, 205, 86)",
      "rgb(75, 192, 192)",
      "rgb(54, 162, 235)",
      "rgb(153, 102, 255)",
      "rgb(201, 203, 207)"
    ];
    var backgroundColor = [];
    for (var i = 0; i < items.length; i++) {
      backgroundColor.push(backgroundColorAll[i % backgroundColorAll.length]);
    }
      
    var ctx = document.getElementById('scoreChart');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: items.map(x => x.friendlyname),
        datasets: [{
          label: 'Score',
          backgroundColor: backgroundColor,
          data: items.map(x => x.score),
        }]
      },
      options: {
        title: {
          display: true,
          fontSize: 16,
          fontColor: '#ddd',
          text: 'Team Scores'
        },
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

</body>

</html>
